---
import { SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import logoImage from '../assets/images/logo.png';
---

<header class="text-center">
  <a href="/" class="mx-auto my-8 inline-block">
    <Image src={logoImage} alt={SITE_TITLE} loading="eager" class="w-44" />
  </a>
</header>
